@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");

body {
  font-family: 'Pretendard Variable', sans-serif;
  background-color: #fff;
  color: #000;
}

/* Swiper 페이지네이션 커스텀 */
.customSwiper .swiper-pagination-bullet {
  background-color: rgba(0, 0, 0, 0.5); /* 옅은 흰색 (반투명) */
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.3)); 
}

.customSwiper .swiper-pagination-bullet-active {
  background-color: #ffffff; /* 활성 점 색상 */
}